body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  background-color: aquamarine;
  color:#000;
}

.typewrite > .wrap { 
  color: #000;
  font-family: 'Swanky and Moo Moo', cursive;
}

* {
  color:#000; text-decoration: none; 
}